@import 'settings/bootstrap';

@import 'settings/mixins';
@import 'settings/variables';
@import 'settings/typography';
@import 'settings/atoms';

@import 'components/forms'; 
@import 'components/containers'; 
@import 'components/buttons'; 
@import 'components/tables'; 

#app {
    background: $c_primary;
    min-height: 100vh;
    font-family: 'Avenir', 'Roboto', sans-serif;

    &.light {
        background: #f9f7fb;
    }
    
    &, a { color: var(--text__color); }

    a:hover { color: $c_highlight; }
}

::-webkit-scrollbar {
  width: 8px; 
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); 
  -webkit-border-radius: 100px;
}
  
.container {
    max-width: 1440px;
}

.icon {
    transition: all .6s;
    filter: var(--icon__filter);
}
