.page-container {
    padding: 0 40px;

    @include mobile {
        padding: 0 20px;
    }
}

.page-title {
    font-size: 23px;
    display: flex;
    align-items: center;

    img {
        margin-right: 15px;
        width: 30px;
    }
}

.section-title {
    font-size: 20px;
    letter-spacing: 0.19px;
    font-weight: 300;
}

.card {
    border-radius: 10px;
    background: var(--c_primary-light);
    padding: 20px;
    border: 1px solid var(--card__border-color);
    
    @include desktop { 
        height: 100%;
    }

    &.small {
        padding: 15px;
    }

    &.large {
        padding: 30px 40px;

        @include mobile {
            padding: 20px 25px;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            &:not(.always-horizontal) {
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
}