table {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid rgba(gray, 0.2);

    tr {
        border-bottom: 1px solid rgba(gray, 0.2);
    }

    th, td {
        padding: 10px;
        font-size: 14px;
    }
}

.table-responsive {
    overflow-x: auto;
}