// @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

body{
    font-family: 'Avenir';
}

h1 { font-size: 64px; }
h2 { font-size: 48px; }
h3 { font-size: 38px; }
h4 { font-size: 29px; }
h5 { font-size: 23px; }
h6 { font-size: 19px; }

h1,h2,h3,h4,h5,h6 { font-weight: 300; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: .5rem; }

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-bold { font-weight: bold; }
a, a:hover { text-decoration: none; }
.text-white { color: white !important; }
.capitalize { text-transform: capitalize; }

@each $name, $color in $c_extra-colors {
    .text-#{$name} {
        color: $color !important;
    }
}

.fz-16, .fz-16 * {
    font-size: 16px !important;
}
.fz-14, .fz-14 * {
    font-size: 14px;
}
.fz-12, .fz-12 * {
    font-size: 12px;
}

@include mobile {
    h1 { font-size: 45px; }
    h2 { font-size: 35px; }
    h3 { font-size: 28px; }
    h4 { font-size: 23px; }
    h5 { font-size: 18px; }
    h6 { font-size: 14px; }
}

@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/Avenir-Heavy.woff2') format('woff2'),
        url('/assets/fonts/Avenir-Heavy.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/AvenirLTStd-Light.woff2') format('woff2'),
        url('/assets/fonts/AvenirLTStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('/assets/fonts/AvenirLTStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('/assets/fonts/AvenirLTStd-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
