/*------------------------------------------------------------------------*
  ------------------------------- FONTS ----------------------------------*
 *------------------------------------------------------------------------*/

$f_title : 'Gotham';
$f_body : 'Martel';

/*------------------------------------------------------------------------*
  ------------------------------- COLORS ---------------------------------*
 *------------------------------------------------------------------------*/

$c_primary : #233A09;
$c_primary-light: #1D3106;
$c_secondary : #6C4A8F;
$c_secondary-light : #779D4C;
$c_highlight : #F59223;
$c_gray-light : #F5F5F5;
$c_gray : #C0C0C0;
$c_gray-dark : #404040;

$c_extra-colors: ( 
  "secondary" : $c_secondary,
  "success" : #00C595,
  "pink" : #C94F89,
  "purple" : #6C4A8F,
  "green" : var(--c_green),
  "gray" : gray,
  "secondary-light" : $c_secondary-light,
  "red" : #dd616e,
); 